motor==1.1
pymongo==3.4.0
requests==2.14.2
sanic==0.5.4
appdirs==1.4.3
decorator==4.0.11
geopy==1.11.0
ipython==6.0.0
ipython-genutils==0.2.0
jedi==0.10.2
networkx==1.11
numpy==1.12.1
packaging==16.8
pandas==0.20.1
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.14
ptyprocess==0.5.1
Pygments==2.2.0
pymongo==3.4.0
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
simplegeneric==0.8.1
six==1.10.0
traitlets==4.3.2
wcwidth==0.1.7
Sanic-Cors==0.5.4.1
